// ────────────── Named Workspaces ──────────────

	workspace "browser"
	workspace "comms"
	









// ────────────── Startup Applications ──────────────
	
	spawn-at-startup "noctalia"
	spawn-at-startup "firefox"
	spawn-sh-at-startup "steam -system-composer"
	spawn-at-startup "discord-canary"
	spawn-sh-at-startup "wgup"