	prefer-no-csd

	window-rule {
		geometry-corner-radius 0 // Set every window radius to 20
		clip-to-geometry true
 }

	layer-rule {
		match namespace="^noctalia-wallpaper*"
		place-within-backdrop true
 }
 
	window-rule {
		match title="Picture in picture"
		open-floating true
		open-focused false
		default-window-height { fixed 222; }
		default-column-width { fixed 395; }
		default-floating-position x=1510 y=15 relative-to="bottom-left"

 }

	window-rule {
		match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
		match is-floating=true
		open-floating true
		open-focused false
		default-floating-position x=1630 y=5 relative-to="bottom-left"

 }   
   
	window-rule {
		match app-id="brave-origin"
		open-maximized-to-edges true
		open-on-workspace "browser"
  
 }

        window-rule {
                match app-id="vesktop"
                open-on-workspace "comms"

 }
  
	window-rule {
                match title="Steam"
                open-on-workspace "comms"
		exclude app-id="steam_app_default"
 }
