layout {

    focus-ring {
        active-color   "#67afe4"
        inactive-color "#142029"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#67afe4"
        inactive-color "#142029"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#67afe4"
        inactive-color "#145585"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#67afe480"
    }
}

recent-windows {
    highlight {
        active-color "#67afe4"
        urgent-color "#fd4663"
    }
}
